.itid-modal {
    display: block;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    width: 75%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.itid-modal-content {
    border-radius: 20px;
    background-color: aliceblue;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

.itid-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.itid-close:hover,
.itid-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}