* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-bg-color: #282a36;
    --primary-text-color: #ffffff;
    --secondry-bg-color: #191a21;
    --light-gray: #ccc;
    --hover-color: #434552e9;
    --hover-color-2: #52a7d8;
    --dropdown-bgcolor: #e9dcdcf0;
    --success-color: #d4edda;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
}

/* utility styles */
.bold-text {
    font-weight: bold;
}

.shadow-md {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

/* utility styles ends */


::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container .inner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

/* sidebar */

.sidebar {
    position: static;
    color: white;
    overflow-y: scroll;
    width: 25%;
    height: 100%;
    background: var(--primary-bg-color);
}

.sidebar-inner-wrapper {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sidebar-inner-wrapper .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sidebar-inner-wrapper .image-container img {
    width: 150px;
    height: 150px;
    outline: 4px solid var(--light-gray);
    border: none;
    border-radius: 50%;
}

.profile {
    margin-top: 20px;
    background: var(--secondry-bg-color);
    border-radius: 20px;
}

.profile-dropdown {
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-dropdown span {
    font-weight: bold;
}

.hidden-dropdown {
    /* background: var(--secondry-bg-color); */
    padding-left: 20px;
    padding-right: 20px;
}

ul li a {
    color: var(--primary-text-color) !important;
}

.hidden-dropdown ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 0;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    overflow: hidden;
    gap: 2vh;
}

.hidden-dropdown ul li {
    padding: 10px 20px;
    border-radius: 10px;
}

.hidden-dropdown ul li form button {
    border: none;
    outline: none;
    background: transparent;
    color: var(--primary-text-color);
    font-size: 15px;
}

.hidden-dropdown ul li:nth-child(2) {
    margin-bottom: 20px;
}

.hidden-dropdown ul li:hover {
    background: var(--hover-color);
    cursor: pointer;
}

.user-links {
    margin-top: 20px;
    width: 100%;
}

.user-links ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    gap: 2vh;
}

.user-links ul li {
    padding: 15px;
    border-radius: 10px;
    background: var(--secondry-bg-color);
    cursor: pointer;
}

.user-links ul li:hover {
    background: var(--hover-color);
}

/* sidebar ends */

.main-container {
    width: 75%;
    overflow: scroll;
}

.header {
    padding: 10px 20px;
    background: var(--light-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-piture {
    position: relative;
}

.user-profile-piture > img{
    border-radius: 50%;
}

.user-profile-piture:hover>.hover-dropdown,
.hover-dropdown:hover {
    display: block;
}

.hover-dropdown {
    display: none;
    background: var(--dropdown-bgcolor);
    position: absolute;
    border-radius: 10px;
    top: 4.2vh;
    right: 0;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.hover-dropdown button {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.hover-dropdown button:hover {
    color: var(--hover-color-2) !important;
}

.user-profile-piture img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* dismissible-alert */
.dismissible-alert {
    margin: 5px 7px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    background: var(--success-color);
}

.dismissible-alert p {
    padding: 5px;
}

.dismissible-alert p strong {
    text-transform: capitalize;
}

/* dismissible-alert ends */

.user-cards {
    margin-top: 5vh;
    width: 100%;
}

.user-inner-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    place-items: center;
}

.membership-details,
.fine-status {
    width: 300px;
    height: 150px;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    background: var(--light-gray);
    overflow: hidden;
}

.status {
    background: var(--hover-color);
    padding: 10px 20px;
    position: absolute;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-text-color);
    border-top-left-radius: 5px;
    bottom: 0;
}

.small-text {
    font-size: 13px;
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
}

.suggestions {
    width: 100%;
    margin-top: 5vh;
    padding: 10px;
}

.suggestions >h1 {
    width: 100%;
    background: var(--hover-color);
    padding: 20px;
    color: var(--primary-text-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card {
    width: 300px;
    height: max-content;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 10px;
}

.details-container > h1 {
    background: var(--primary-text-color) !important;
    border-radius: 0;
    padding: 10px !important;
    margin-top: -5px;
    color: var(--primary-bg-color) !important;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.card img {
    width: 100%;
}

.image-container{
    height: 250px;
    overflow-y: hidden;
}

.card-container {
    background: var(--light-gray);
    display: grid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    place-items: center;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 10px 0;

}

.details-container{
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    height: 150px;
    overflow-y: scroll;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.details {
    background: var(--primary-text-color);
    text-align: start;
    padding:10px 10px 0px 10px;
    height: 70px;
    overflow-y: scroll;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.details > p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.details ul{
    margin-top: 5px;
}

.details > h2{
    font-size: 15px;
}





@media only screen and (max-width : 768px) {
    .user-inner-container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2vh;
    }
}